.btn-success {
  background-color: #16cccc !important;
  border: none !important;
}

.lato-font-regular {
  font-family: Lato-Regular;
}
/* 
h4 {
  font-family: Lato-Bold;
  text-transform: uppercase;
  padding: 2rem 0 4rem 0;
} */

button {
  text-transform: uppercase;
}

/* .container {
  display: flex;
  justify-content: center;
  padding: 10rem 24rem;
}

.card-container {
  display: grid;
  grid-template-columns: 18rem 18rem;
  margin-left: 4rem;
}

.card {
  padding: 1rem;
  border: 1px solid #000;
}

.create {
  display: grid;
  grid-template-columns: 28rem;
}
 */
